* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 800px;
}

.item {
    background-color: #ffd8a8;
    color: #d9480f;
    min-width: 100px;
    width: 400px;
    min-height: 100px;
    height: 400px;
}

.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}
